<div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel">
  <div class="carousel-inner bg-dark w-100">
    <div class="carousel-item active">
      <div class="carousel-image" style="background-image: url('../images/IMG_5886.png');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/IMG_4727.png');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/unnamed(1).jpg');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/IMG_0813.png');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/IMG_0786.png');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/unnamed(2).png');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/unnamed(3).png');"></div>
    </div>
  </div>
</div>