.home-img-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px; 
  overflow-x: hidden;
  
  &.md-contain {
    background-size: contain;
    height: 375px;
    overflow-x: hidden;

    @include media-breakpoint-up(md){
      background-size: contain;
    }
  }
}

.home-text-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 75px;

  @include media-breakpoint-up(xs){
    text-align: center;
  }
}