.home-img-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  
  &.sm-contain {
    background-size: contain;
    background-position: top;
    height: 300px;
    
    @include media-breakpoint-up(sm) {
      height: 450px;
    }
    
    @include media-breakpoint-up(md) {
      background-size: cover;
    }
  }
}

.home-text-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 75px;

  @include media-breakpoint-up(md){
    text-align: center;
  }
}